<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
  <style type="text/css">
body {
	background-color: black;
	content: "CONNOR SUCKS!";
		color: white;
	font-size: 72px;
	
}
</style>
</head>

<body>